{% extends "main.html.twig" %}

{% block content %}
    <div class="detail">
        <h1> {{status}}</h1>
        <a class="bouton" href="{{route}}">{{message}}</a><br/>
        <a class="bouton" href="/">Retour à l'accueil</a>        
    </div>

{% endblock %}