/* line 1, ../scss/_header.scss */
.header {
  border-bottom: 1px blue solid;
  border-color: #EEE657;
  width: 100%;
}
/* line 8, ../scss/_header.scss */
.header h1 {
  margin: 0;
  color: #2C82C9;
  width: 100%;
  float: left;
}
@media screen and (min-width: 700px) {
  /* line 8, ../scss/_header.scss */
  .header h1 {
    width: 20%;
  }
}

.rating {

  height:50px;
  width: 200px;
}

.options{
  margin-left: 130px;
}
/* line 3, ../scss/_clearfix.scss */
.header:before, .header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 9, ../scss/_clearfix.scss */
.header:after {
  clear: both;
}
/* line 24, ../scss/_header.scss */
.header .userbar {
  text-align: center;
  padding: 10px;
  color: #1a4c75;
  font-weight: bold;
  font-style: italic;
}
/* line 33, ../scss/_header.scss */
.header .userbar a {
  text-decoration: none;
  color: #2C82C9;
}
/* line 38, ../scss/_header.scss */
.header .userbar a:hover {
  color: #FCB941;
}
/* line 45, ../scss/_header.scss */
.header .userbar input, .header .userbar label {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  box-sizing: border-box;
}
@media screen and (min-width: 900px) {
  /* line 24, ../scss/_header.scss */
  .header .userbar {
    float: right;
    width: 65%;
    text-align: right;
  }
  /* line 56, ../scss/_header.scss */
  .header .userbar label {
    width: 18%;
    text-align: right;
  }
  /* line 63, ../scss/_header.scss */
  .header .userbar label::after {
    content: " : ";
  }
  /* line 68, ../scss/_header.scss */
  .header .userbar input {
    width: 25%;
  }
  /* line 73, ../scss/_header.scss */
  .header .userbar .bouton {
    width: 10%;
    margin-right: 0;
  }
  /* line 80, ../scss/_header.scss */
  .header .userbar input, .header .userbar label {
    margin-right: 1%;
    margin-bottom: 0;
    height: 25px;
  }
}
/* line 96, ../scss/_header.scss */
.header .userbar .bouton {
  border-color: #FCB941;
  background-color: #2C82C9;
  color: white;
  font-weight: bold;
}
/* line 3, ../scss/_clearfix.scss */
.header .userbar:before, .header .userbar:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 9, ../scss/_clearfix.scss */
.header .userbar:after {
  clear: both;
}

/* line 1, ../scss/_navbar.scss */
.navbar2 {
  list-style-type: none;
  width: 100%;
  padding: 0;
}
/* line 11, ../scss/_navbar.scss */
.navbar2 li {
  text-align: center;
  width: 100%;
  min-height: 45px;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}
/* line 23, ../scss/_navbar.scss */
.navbar2 li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 33, ../scss/_navbar.scss */
.navbar2 li:nth-child(5n+1) {
  background-color: #2C82C9;
}
/* line 34, ../scss/_navbar.scss */
.navbar2 li:nth-child(5n+2) {
  background-color: #2CC990;
}
/* line 35, ../scss/_navbar.scss */
.navbar2 li:nth-child(5n+3) {
  background-color: #EEE657;
}
/* line 36, ../scss/_navbar.scss */
.navbar2 li:nth-child(5n+4) {
  background-color: #FCB941;
}
/* line 37, ../scss/_navbar.scss */
.navbar2 li:nth-child(5n+5) {
  background-color: #FC6042;
}
@media screen and (min-width: 400px) {
  /* line 41, ../scss/_navbar.scss */
  .navbar2 li {
    width: 50%;
  }
}
@media screen and (min-width: 600px) {
  /* line 47, ../scss/_navbar.scss */
  .navbar2 li {
    width: 33.333333%;
  }
}
@media screen and (min-width: 900px) {
  /* line 53, ../scss/_navbar.scss */
  .navbar2 li {
    width: 20%;
  }
}
/* line 3, ../scss/_clearfix.scss */
.navbar2:before, .navbar2:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 9, ../scss/_clearfix.scss */
.navbar2:after {
  clear: both;
}

/* line 3, ../scss/_search.scss */
.search {
  background-color: #2C82C9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
/* line 15, ../scss/_search.scss */
.search .input-search, .search input[type='submit'] {
  float: left;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 28, ../scss/_search.scss */
.search input[type='submit'] {
  background-color: #2CC990;
  border-color: #27b481;
  color: white;
}
/* line 35, ../scss/_search.scss */
.search a {
  text-align: center;
}
/* line 3, ../scss/_clearfix.scss */
.search:before, .search:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 9, ../scss/_clearfix.scss */
.search:after {
  clear: both;
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  /* line 49, ../scss/_search.scss */
  .search #searchbar {
    width: 100%;
  }
  /* line 53, ../scss/_search.scss */
  .search .input-search {
    width: 48%;
  }
  /* line 58, ../scss/_search.scss */
  .search .input-search:nth-child(2n+2) {
    margin-right: 4%;
  }
  /* line 62, ../scss/_search.scss */
  .search input[type='submit'] {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  /* line 69, ../scss/_search.scss */
  .search .input-search[type='number'] {
    width: 20%;
  }
  /* line 73, ../scss/_search.scss */
  .search .input-search, .search input[type='submit'] {
    width: 15.66667%;
    height: 35px;
    margin-bottom: 0;
  }
  /* line 81, ../scss/_search.scss */
  .search .input-search {
    margin-right: 1%;
  }
}

/* line 1, ../scss/_list-element.scss */
.list-element {
  margin-top: 20px;
  text-align: center;
}
/* line 9, ../scss/_list-element.scss */
.list-element .element {
  text-align: center;
  border-bottom: solid 1px #FCB941;
  display: inline-block;
  margin-right: -0.25em;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
/* line 21, ../scss/_list-element.scss */
.list-element .element:hover {
  background-color: #fee7bf;
  cursor: pointer;
}
/* line 28, ../scss/_list-element.scss */
.list-element .element span {
  display: block;
}
/* line 32, ../scss/_list-element.scss */
.list-element .element span a {
  text-decoration: none;
}
/* line 40, ../scss/_list-element.scss */
.list-element .element:before, .list-element .element:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 46, ../scss/_list-element.scss */
.list-element .element:after {
  clear: both;
}
/* line 50, ../scss/_list-element.scss */
.list-element .element .element-apercu {
  height: 150px;
  width: 150px;
  max-width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 150px;
}
/* line 61, ../scss/_list-element.scss */
.list-element .element .element-apercu img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
/* line 69, ../scss/_list-element.scss */
.list-element .element .element-titre, .list-element .element .element-titre a {
  font-size: 1.2em;
  font-weight: bold;
  color: #2C82C9;
}
/* line 76, ../scss/_list-element.scss */
.list-element .element .element-titre a:active {
  color: #EEE657;
}
/* line 81, ../scss/_list-element.scss */
.list-element .element .element-desc {
  font-size: 1.2em;
  font-weight: bold;
  color: #FC6042;
}
/* line 90, ../scss/_list-element.scss */
.list-element .element .element-category a {
  font-style: italic;
  color: #2C82C9;
  font-size: 1.2em;
}
/* line 96, ../scss/_list-element.scss */
.list-element .element .element-category a:hover {
  color: #FCB941;
}
/* line 102, ../scss/_list-element.scss */
.list-element .element .element-lieu {
  font-weight: bold;
}
@media screen and (min-width: 500px) {
  /* line 109, ../scss/_list-element.scss */
  .list-element .element {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  /* line 1, ../scss/_list-element.scss */
  .list-element {
    text-align: left;
  }
  /* line 118, ../scss/_list-element.scss */
  .list-element .element {
    width: 100%;
    text-align: left;
  }
  /* line 122, ../scss/_list-element.scss */
  .list-element .element .element-apercu {
    float: left;
    max-width: 10%;
    margin: 10px;
  }
}

/* line 1, ../scss/_footer.scss */
.footer {
  text-align: center;
}
/* line 6, ../scss/_footer.scss */
.footer .autres-liens {
  padding: 0;
}
/* line 10, ../scss/_footer.scss */
.footer .autres-liens li {
  list-style-type: none;
  font-size: 1.4em;
  margin-bottom: 10px;
}
/* line 16, ../scss/_footer.scss */
.footer .autres-liens li a {
  color: #FCB941;
}
@media screen and (min-width: 400px) {
  /* line 24, ../scss/_footer.scss */
  .footer .autres-liens li {
    font-size: 1.2em;
    display: inline;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

/* line 1, ../scss/_typo.scss */
h1 {
  color: #2C82C9;
}

/* line 3, ../scss/_form.scss */
.error {
  background-color: #fecac0;
  border: solid 2px #ee2a04;
  padding: 15px;
  color: #d52503;
}

/* line 11, ../scss/_form.scss */
fieldset, .error {
  max-width: 700px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
/* line 21, ../scss/_form.scss */
fieldset label, fieldset input, fieldset select, fieldset textarea, fieldset i, fieldset .error, .error label, .error input, .error select, .error textarea, .error i, .error .error {
  float: left;
  width: 100%;
}
/* line 27, ../scss/_form.scss */
fieldset input, fieldset select, .error input, .error select {
  height: 40px;
}
/* line 32, ../scss/_form.scss */
fieldset input, fieldset select, fieldset textarea, .error input, .error select, .error textarea {
  margin-bottom: 15px;
}
/* line 37, ../scss/_form.scss */
fieldset .error, .error .error {
  color: red;
}
@media screen and (min-width: 700px) {
  /* line 52, ../scss/_form.scss */
  fieldset label, .error label {
    width: 25%;
    text-align: left;
  }
  /* line 58, ../scss/_form.scss */
  fieldset label:after, .error label:after {
    content: " : ";
  }
  /* line 63, ../scss/_form.scss */
  fieldset input, fieldset select, fieldset textarea, .error input, .error select, .error textarea {
    width: 70%;
  }
  /* line 68, ../scss/_form.scss */
  fieldset .bouton, .error .bouton {
    width: 25%;
    margin-right: 2%;
    float: right;
  }
}
/* line 3, ../scss/_boutons.scss */
fieldset .bouton, .error .bouton {
  background-color: #2C82C9;
  border: 2px solid #2774b4;
  text-decoration: none;
  color: white;
  padding: 12px;
  text-align: center;
  box-sizing: border-box;
}
/* line 14, ../scss/_boutons.scss */
fieldset .bouton:active, .error .bouton:active {
  border-color: #FCB941;
}
/* line 3, ../scss/_clearfix.scss */
fieldset:before, fieldset:after, .error:before, .error:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 9, ../scss/_clearfix.scss */
fieldset:after, .error:after {
  clear: both;
}

/* line 6, ../scss/_detail.scss */
.detail .container-float .carre-float {
  width: 100%;
  float: left;
  max-width: 400px;
  margin-right: 2%;
}
/* line 14, ../scss/_detail.scss */
.detail .container-float .carre-float img {
  box-sizing: border-box;
}
/* line 19, ../scss/_detail.scss */
.detail .container-float .carre-float .grande {
  max-width: 100%;
  height: auto;
  border: 1px solid #2CC990;
}
/* line 26, ../scss/_detail.scss */
.detail .container-float .carre-float .mini {
  border: 1px solid #FCB941;
  width: 49%;
  height: auto;
  float: left;
  margin-bottom: 2%;
}
/* line 34, ../scss/_detail.scss */
.detail .container-float .carre-float .mini:nth-child(2n+1) {
  margin-right: 2%;
}
/* line 39, ../scss/_detail.scss */
.detail .container-float .carre-float .mini:hover {
  border: 1px solid #2CC990;
  cursor: pointer;
}
/* line 3, ../scss/_clearfix.scss */
.detail .container-float .carre-float:before, .detail .container-float .carre-float:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 9, ../scss/_clearfix.scss */
.detail .container-float .carre-float:after {
  clear: both;
}
@media screen and (min-width: 600px) {
  /* line 6, ../scss/_detail.scss */
  .detail .container-float .carre-float {
    width: 48%;
  }
}
/* line 3, ../scss/_clearfix.scss */
.detail .container-float:before, .detail .container-float:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 9, ../scss/_clearfix.scss */
.detail .container-float:after {
  clear: both;
}
/* line 60, ../scss/_detail.scss */
.detail .container-float .liens {
  float: left;
}
/* line 64, ../scss/_detail.scss */
.detail .container-float .liens a {
  text-decoration: none;
  color: #2C82C9;
  font-weight: bold;
  text-align: left;
}
/* line 72, ../scss/_detail.scss */
.detail .container-float .liens a:hover {
  color: #2CC990;
}
/* line 79, ../scss/_detail.scss */
.detail p {
  font-size: 1.1em;
}
/* line 3, ../scss/_boutons.scss */
.detail .bouton {
  background-color: #2C82C9;
  border: 2px solid #2774b4;
  text-decoration: none;
  color: white;
  padding: 12px;
  text-align: center;
  box-sizing: border-box;
}
/* line 14, ../scss/_boutons.scss */
.detail .bouton:active {
  border-color: #FCB941;
}
/* line 86, ../scss/_detail.scss */
.detail .bouton {
  width: 100%;
  display: inline-block;
}
@media screen and (min-width: 600px) {
  /* line 86, ../scss/_detail.scss */
  .detail .bouton {
    width: 200px;
  }
}

/* line 1, ../scss/_profil.scss */
.profil {
  width: 100%;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
/* line 8, ../scss/_profil.scss */
.profil label, .profil span {
  width: 100%;
  display: block;
}
/* line 14, ../scss/_profil.scss */
.profil span {
  margin-bottom: 30px;
  border-bottom: 1px solid #FCB941;
}
/* line 20, ../scss/_profil.scss */
.profil label {
  color: #2C82C9;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
  font-size: 1.4em;
}
/* line 29, ../scss/_profil.scss */
.profil a {
  text-decoration: none;
  color: #2C82C9;
  font-size: 1.4em;
  font-weight: bold;
}
/* line 36, ../scss/_profil.scss */
.profil a:hover {
  color: #FCB941;
}

/* line 15, ../scss/main.scss */
body {
  background-color: whitesmoke;
  font-family: "Calibri", "Arial";
  padding: 0 2%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}



#espace {


  height: 25px;
}



table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 20px;
    width:25px;
}



tr:nth-child(even){background-color:  #f2f2f2;}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
}

tr:hover{background-color:#f5f5f5;}


a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}


.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}


.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}